*{
  margin: 0;
  padding: 0;
}

.navcontainer, nav{
  background-color: #026aa7!important;

}

.logoimg img{
 width: 80px;
 height: 30px;
}

.logoimg{
  text-align: center;
}

nav{
  box-shadow: none !important;
}

.buttonicon{
  text-align: right;
}

.thecol{
  color: #e4f0f6;
}

.righticon{
  background-color: hsla(0,0%,100%,.3);
  border: 1px solid hsla(0,0%,100%,.3);
  border-radius: 2px;
  margin: 3px;
}

.boardinfo{
  height: 200px;
  text-align: center;
  background-color:#f4f5f7 ;
}

.panel{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.panel Button {
  background-color: #dfe1e6;
  border: 1px solid #dfe1e6;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  font-weight: 750;
  font-size: 12px;
  text-transform: capitalize;
}

.tab_btn{
  margin: 0 5px;
}

.btn:hover{
  background-color: #dfe1e6 !important;
}

.logbtn{
  background-color:  hsla(0,0%,100%,.3)!important;
  padding: 2px 8px 5px 8px!important;
  margin-right: 2px;
}

.logoimg{
  padding-top: 4px;
}

.btnicon, .buttonicon {
padding: 3px;
}

.row{
  margin-bottom: 0!important;
}

.newboard{
  text-align: center;
  padding-top: 30px;
}

.creatbtn{
  background-color:  hsla(0,0%,100%,.3)!important;
  color: black;
}
.addList{
  padding: 15px;
}